@model CustomerMaintain.Models.Main.客戶資料狀況

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>客戶資料狀況</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.聯絡人數量)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.聯絡人數量)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.銀行帳戶數量)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.銀行帳戶數量)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
